<%= form_with(model: post, class: "contents") do |form| %>
    <div class="relative z-0 w-full group my-5">
    <%= form.text_field :title, class: ["text-2xl", floating_label_input_class], placeholder: "Type a headline..." %>
  </div>

  <div class="my-5">
    <%= form.rich_textarea :message, class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full", placeholder: "Tell your story..." %>
  </div>

  <div class="my-7 inline">
    <%= render RBUI::Button.new(type: :submit) { submit_text } %>
  </div>
<% end %>
