<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto w-full">
    <%= render @post %>

    <%= render RBUI::Link.new(href: edit_post_path(@post), variant: :outline, class: "me-3") { "Edit" } %>

    <%= render Components::ConfirmDialog.new(
      variant: :destructive,
      href: post_path(@post),
      title: "Are you sure?",
      description: "This action cannot be undone. This will permanently delete your post.",
      action_text: "Delete post",
      cancel_text: "Cancel",
      data: { turbo_method: :delete },
      ) { "Delete" } %>
  </div>
</div>
