<% content_for :title, @post.title %>

<div class="bg-white dark:bg-gray-800 px-4 md:px-16 py-4 md:py-16 rounded shadow-md mx-auto container relative">
  <%= render Components::Posts::Show.new(post: @post) %>
</div>
