[multiple]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus,
[type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus,
[type=week]:focus, select:focus, textarea:focus, trix-editor:focus {
  border-color: hsl(var(--primary));
  --tw-ring-color: hsl(var(--primary));
  --tw-ring-color: hsl(var(--primary));
}

[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
  background-color: inherit;
}


label.field_with_errors,
.peer:focus~.field_with_errors {
  color: hsl(var(--destructive));
}

/* Trix editor changes for posts form */
.posts-form trix-toolbar {
  position: sticky;
  top: 56px;
  border-top: 1px solid hsl(var(--border));
  border-bottom: 1px solid hsl(var(--border));
  background-color: hsl(var(--background));
  z-index: 1 !important;
}

.dark .posts-form trix-toolbar {
  background-color: #1f2938;
  z-index: 2 !important;
}

.posts-form trix-toolbar .trix-button-row {
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .posts-form .trix-button-row .trix-button-group:first-child {
    margin-left: 3rem;
  }

  .posts-form .trix-button-row .trix-button-group:last-child {
    margin-right: 3rem;
  }
}

@media (max-width: 767px) {
  .posts-form .trix-button-row .trix-button-group {
    margin-left: 0;
    margin-right: 0;
  }
}

.posts-form trix-toolbar .trix-button-group {
  border: 0;
  margin-bottom: 0;
}

.posts-form trix-toolbar .trix-button {
  padding: 1.5rem;
  outline: none;
  border: none;
}

.posts-form trix-toolbar .trix-button--icon {
  width: 2rem;
  height: 2rem;
  max-width: calc(0.8em + 4vw);
  text-indent: -9999px;
}

.posts-form trix-toolbar .trix-button--icon:before {
  background-size: auto;
}

.posts-form .trix-button--icon-decrease-nesting-level,
.posts-form .trix-button--icon-increase-nesting-level,
.posts-form .trix-button-group-spacer {
  display: none;
}

.posts-form trix-toolbar .trix-button-group:not(:first-child) {
  margin-left: 0;
}

.posts-form trix-toolbar .trix-button-group:last-child {
  margin-left: auto;
}

.posts-form trix-editor {
  min-height: 3rem;
}

.posts-form trix-editor:empty::before {
  color: #9ca3af; /* Tailwind's gray-400 */
}

.posts-form blockquote {
  border-left: 4px solid hsl(var(--secondary));
  padding-left: 1rem;
  margin-left: 0;
}

input[type="radio"]:checked + label {
  border-color: #3b82f6;
}
