nav [data-rbui--accordion-open-value="true"] button{
  background-color: hsl(var(--muted));
}

nav svg {
  width: 1.75rem;
  height: 1.75rem;
}

nav.mobile svg {
  width: 2rem;
  height: 2rem;
}

nav.mobile.top-bar svg {
  width: 1.25rem;
  height: 1.25rem;
}